<html>
<title>Colegio Suizo de Madrid - Phidias - Error</title>
<link rel="icon" type="image/png" href="./Colegio Suizo de Madrid - Phidias - Bienvenido_files/favicon.png">

<head>
    
  <link rel="stylesheet" href="./Colegio Suizo de Madrid - Phidias - Bienvenido_files/login_compiled.css">
</head>
<body>
        <div id="actions">
                    <div id="actions_container">
                        <ul class="drop_menu">
                            <li><a href="https://csm.phidias.es/system/about">acerca</a></li>
                        </ul>
                    </div>
                </div>
                <div id="frame">
                    <img id="home_label" src="./Colegio Suizo de Madrid - Phidias - Bienvenido_files/label.png">
                    
                    <div id="content">
                        <div class="error">
                                                    <h1>Comprobando Credenciales del Usuario</h1><br><div class="loader"></div></div><br></div>
                    <div id="footer" class="screen_only">
            <ul>
                <li><a href="#" style="font-weight:bold">Español (ES)</a></li>
                <li><a href="#">Español (LA)</a></li>
                <li><a href="#">English</a></li>
                        <li><a href="#">Català</a></li>
                        <li><a href="#">Gallego</a></li>
                        <li><a href="#">Italiano</a></li>
                        <li><a href="#">Français</a></li>
                <li><a href="#">Deutsch</a></li>
            </ul>
            <p><img class="phid_logo_error" src="./Colegio Suizo de Madrid - Phidias - Bienvenido_files/logo.png"></p>
        </div>
        
</body>
</html>

